<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Tasks', tasks_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
